@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --text: #00000;
    --background: #f9fcf8;
    --primary: #63ba5e;
    --secondary: #a3d7ca;
    --accent: #7bc0c6;
    --glitch1: #2b4539;
    --glitch2: #61dca3;
    --glitch3: #61b3dc;
  }
  .dark {
    --text: #e7f4e6;
    --background: #040703;
    --primary: #49a145;
    --secondary: #285c50;
    --accent: #397e84;
    --glitch1: #d8efe3;
    --glitch2: #7ae6b7;
    --glitch3: #7ac4e6;
  }
}

@layer base {
  html {
    @apply transition-colors duration-300;
  }
  
  body {
    @apply bg-background text-text; /* Ensure these variables exist */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

/* 
@keyframes scroll {
  0% { transform: translateX(30%); }
  100% { transform: translateX(-30%); }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
} */